.signup__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup__button {
  padding: 2em;
  background: rgb(120, 252, 116);
  border: 5px double green;

  min-width: 35%;
  width: fit-content;

  text-align: center;
}

.signup__button:hover {
  background: rgb(168, 255, 165);
}

.signup form {
  display: grid;
  max-width: 500px;

  grid-template-columns: 50% 50%;
}

.signup__volunteer__skills {
  display: flex;
  flex-direction: column;
}
